@font-face {
    font-family: "CoFo";
    src: url("cofo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CoFo Pixel";
    src: url("cofo-pixel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: black;
}

iframe {
    position: relative;
    right: 88px;
}

body {
    margin: 0;
    padding: 2rem;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#bg {
    z-index: -2;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-color: black;
}

#info {
    display: inline-block;
    color: white;
    font-family: 'CoFo', sans-serif;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

#time {
    font-size: 4rem;
}

#date {
    font-size: 2rem;
}

#left {
    position: absolute;
    /* margin-top: 7rem; */
    margin-top: 26rem;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

#logo-text {
    display: inline-block;
    margin-bottom: 1.2rem;
    font-family: 'CoFo', sans-serif;
    color: white;
    font-size: 5.5rem;
}

#logo-text-pixel {
    font-family: 'CoFo Pixel', sans-serif;
}

#msg {
    position: absolute;
    display: block;
    display: none;
    color: white;
    font-family: 'CoFo', sans-serif;
    font-size: 2rem;
}

#dr {
    float: right;
    margin-right: -40px;
    width: 28.98rem;
    height: 41rem;
    border-radius: 16px 0 0 16px;
    background: url(dr.jpg) no-repeat;
    background-size: contain;
    opacity: 0.9;
}
