body {
    margin: 0;
    padding: 2rem;
    overflow: hidden;
}

#bg {
    z-index: -2;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-color: black;
}

#info {
    display: flex;
    float: left;
    color: white;
    font-size: 4rem;
    font-family: 'arial', sans-serif;
}

#left {
    position: absolute;
    margin-top: 18%;

}

#logo {
    display: inline-block;
    background: url(logo.svg) no-repeat;
    background-size: contain;
    width: 30rem;
    height: 4rem;
    margin-bottom: 2rem;
}

#msg {
    position: absolute;
    display: block;
    color: white;
    font-family: 'arial', sans-serif;
    font-size: 2rem;
}

#dr {
    float: right;
    width: 29rem;
    height: 41rem;
    border-radius: 32px;
    background: url(dr.jpg) no-repeat;
    background-size: contain;
    opacity: 0.9;
}

.temperature {
    display: flex;
}

.temperature span {
    margin: 0 56px 0 10px;
}
